<ngb-carousel>
  <template ngbSlide>
    <div class="oldproj">
      <img src="http://fireandslice.weebly.com/uploads/2/1/8/3/21839672/1641598_orig.jpg"
      class="mx-auto d-block oldproj" alt="Fire and Slice Sideshow" />
    </div>
    <div class="carousel-caption">
      <a href="http://fireandslice.weebly.com" target="_blank" class="link-unstyled">
      <h3>Fire and Slice Sideshow</h3>
      </a>
    </div>
  </template>
  <template ngbSlide>
    <div class="oldproj">
      <img class="oldproj" alt="The old blog" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Vinci_-_Hammer_2A.jpg/512px-Vinci_-_Hammer_2A.jpg" />
    </div>
    <div class="carousel-caption">
      <a href="http://old.crookedforkcaravan.com" target="_blank" class="link-unstyled">
      <h3>The Old Crooked Fork Caravan Page</h3>
      </a>
    </div>
  </template>
  <!--
  <template ngbSlide>
    <img src="http://lorempixel.com/700/400?r=3" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </template>
-->
</ngb-carousel>
