  <menubar></menubar>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 center-block">
      <img class="img-fluid mx-auto d-block" src="../../public/images/cfclogo.png" alt="Crooked Fork Caravan Logo" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <p><span class="fa fa-truck" aria-hidden="true"></span> Welcome to the {{name}} home page where the
          tea is always hot and the ideas are usually nuts, but we adapt and end up somewhere
        wonderful in the end anyway.</p>
      </div>
      <div class="col-md-6 col-xs-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          viverra vitae dolor eu aliquam. Interdum et malesuada fames ac ante
          ipsum primis in faucibus. Fusce vestibulum massa a nunc tempor, eu
          venenatis urna sagittis. Etiam dolor nisl, gravida sit amet lorem ut,
          tristique auctor lacus. Etiam molestie massa vitae quam.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h3 class="text-xs-center">Old Projects</h3>
        <old-projects></old-projects>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h3 class="text-xs-center">New Projects</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            viverra vitae dolor eu aliquam. Interdum et malesuada fames ac ante
            ipsum primis in faucibus. Fusce vestibulum massa a nunc tempor, eu
            venenatis urna sagittis. Etiam dolor nisl, gravida sit amet lorem ut,
            tristique auctor lacus. Etiam molestie massa vitae quam.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h3 class="text-xs-center">Schmoo Projects</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            viverra vitae dolor eu aliquam. Interdum et malesuada fames ac ante
            ipsum primis in faucibus. Fusce vestibulum massa a nunc tempor, eu
            venenatis urna sagittis. Etiam dolor nisl, gravida sit amet lorem ut,
            tristique auctor lacus. Etiam molestie massa vitae quam.
        </p>
      </div>
    </div>
  </div>
